@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
a{
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    font-size: 25px;
    color: black;
}
body{
    background: pink;
}
#whatsapp {
    padding: 2px 10px;
    border: solid 1px green;
    border-radius: 10px;
    background: greenyellow;
}

#whatsapp:hover {
    background: green;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#foto_card{
    padding: 5px;
    background-color:gray;
    border: solid 2px black;
    border-radius: 5px;
}
#foto-produto{
    width: 400px;
    height: 450px;
    border-radius: 5px;
    border: solid 1px black;
}
#foto-produto:hover{
    scale: 1.2;
}
#cabecalho{
    display: none;
    padding: 10px 60px;
    background: blue;
    border-radius: 5px;
    border: solid 1px black;
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    font-size: 17px;
    color: black;
} 
@media(max-width:600px) {

a,p{
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    font-size: 17px;
    color: black;
}

#whatsapp {
    padding: 2px;
    border: solid 1px green;
    border-radius: 10px;
    background: greenyellow;
}

#whatsapp:hover {
    background: green;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#foto_card{
    background-color:gray;
    border: solid 2px black;
    border-radius: 5px;
}
#foto-produto{
    border-radius: 5px;
    border: solid 1px black;
    max-width: 300px;
    max-height: 300px;
}
#foto-produto:hover{
    scale: 1.2;
}
#cabecalho{
    padding: 5px 50px;
    background: blue;
    border-radius: 5px;
    border: solid 1px black;
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    font-size: 17px;
    color: black;
}
}